.body-padding {
    padding: 10px 10px;
    border: #aaa solid 1px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.top-margin {
    margin-top: 10px;
}

.text-container {
    padding-left: 5.1em;
    padding-top: 5.1em;
    padding-bottom: 5.1em;
}

.text-container-right {
    padding: 5.1em;
}